/* .example-spacer{
    flex: 1 1 auto;
} */


.mat-toolbar{
    /* background-color: cornflowerblue; */
    background-color:#f13636;
    color: white;
    /* padding: 3px; */
  }
  /* .mat-toolbar a {
    font-size: 14px;
    font-family: inherit;
    margin-left: 14px;
    padding: 7px;
  } */
  /* .logo{
    font-size: 25px;
    flex: 0.02 0.02 auto;
    font-weight: bold;
    font-family: monospace;
  } */
  /* .mat-button{
     color: white;
  } */
  /* .spacer{
    flex: 0.97 1 auto;
  } */
 .active:hover , .active:focus , .active{
   
   border-bottom: 2px solid white
 }
 