


<div class="user">
<div class="bootstrap-wrapper ">
    <div class="container">
        <div class="col-md-6 offset-md-3">
   
           <div class="text-center details ">
               <h1>Welcome dear {{UserProfile?.name}} </h1>
               <h2>Your registered email id is {{UserProfile?.email}} </h2>
               <h2>Phone Number = {{UserProfile?.mobile}}</h2>
               <button mat-raised-button color="warn" routerLink="/contacts" >Contacts</button>

           </div>
        </div>
    </div>
</div>
</div>